.slider-image img {
  height: 600px;
}

.carousel-caption {
  position: absolute;
  text-align: center;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 4.25rem;
  /* padding-bottom: 1.25rem; */
  color: #fff;
}

.carousel-caption h3 {
  font-size: 50px;
}
